@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Redressed', cursive;
}

:root {
  --primary: #0f0f0f;
  --secondary: #F28200;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  background-color: var(--primary);
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  z-index: 99;
  height: 100px;
  width: 100%;
  box-shadow: 2px 6px 5px 1px rgba(0,0,0,0.49);
  background: rgb(15,15,15);
  background: -moz-linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(15,15,15,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(15,15,15,0) 100%);
  background: linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(15,15,15,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0f0f",endColorstr="#0f0f0f",GradientType=1);
}

.nav-logo {
  width: 80px;
}

.nav-item {
  margin-left: 40px;
  font-size: 24px;
  color: #d4d4d4;
  transition: all .2s;
}

.nav-item:hover {
  color: #f2f2f2;
  padding-bottom: 8px;
  border-bottom: 4px solid var(--secondary);
}

.nav-item.active {
  color: var(--secondary);
}

.nav-item.active:hover {
  color: #F28200;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(15, 15, 15, .4);
}

.hero-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  padding: 40px 0;
}

.btn {
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  background: transparent;
  color: #f2f2f2;
  font-family: 'Sunflower Medium', sans-serif;
  transition: all .2s;
  border: 2px solid #ddd;
}

.btn:hover {
  color: var(--primary);
  background-color: #ddd;
}

.hero-btn {
  padding: 8px 28px;
  font-size: 1.5rem;
  margin-top: 20px;
}

footer {
  position: relative;
  padding: 0 5%;
  height: 100px;
  display: flex;
  align-items: center;
  background: rgb(15,15,15);
  background: -moz-linear-gradient(180deg, rgba(15,15,15,0) 0%, rgba(15,15,15,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(15,15,15,0) 0%, rgba(15,15,15,1) 100%);
  background: linear-gradient(180deg, rgba(15,15,15,0) 0%, rgba(15,15,15,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0f0f",endColorstr="#0f0f0f",GradientType=1);
  text-transform: uppercase;
}

.subscribe {
  padding: 10px 22px;
  border-radius: 2px;
  font-size: 1.2rem;
  background-color: #ddd;
  color: var(--primary);
  font-family: 'Sunflower', sans-serif;
  margin-right: 40px;
  transition: all .2s;
}

.btn:active, .subscribe:active {
  transform: translateY(2px);
}

footer h3 {
  color: #ddd;
  font-family: 'Sunflower', sans-serif;
  font-size: .8rem;
  margin-right: 40px;
}

.footer-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-icon {
  cursor: pointer;
  width: 20px;
  filter: invert(98%) sepia(0%) saturate(4265%) hue-rotate(227deg) brightness(114%) contrast(73%);
  margin-right: 30px;
}

.footer-icon:hover {
  filter: invert(67%) sepia(91%) saturate(4632%) hue-rotate(12deg) brightness(103%) contrast(110%);
}

.modal {
  cursor: default;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, .9);
  display: none;
}

.modal:target {
  display: block;
}

.modal-popup {
  width: 80%;
  height: auto;
  margin: auto;
  background-color: #0f0f0f;
  box-shadow: 0 0 5em 20px rgb(198 210 239 / 30%), 0 0 5px 1px #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  color: #f2f2f2;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-secondary {
  color: var(--secondary);
}

.modal-title {
  border-top: 4px solid var(--secondary);
  padding: 30px 0 30px 25%;
  text-align: right;
  font-size: 2.4rem;
  text-transform: uppercase;
  position: relative;
}

.modal-title::before {
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  background-image: url('./img/logo.png');
  background-repeat: no-repeat;
  opacity: .1;
}

.modal-title h1 span {
  font-family: 'Sunflower', sans-serif;
  line-height: 20px;
}

.modal-data {
  padding: 30px 30px 30px 15px;
}

.modal-form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.modal-form label {
  font-family: 'Sunflower', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.modal-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-close a img {
  filter: invert(98%) sepia(0%) saturate(4265%) hue-rotate(227deg) brightness(114%) contrast(73%);
}

.form-input {
  font-family: 'Sunflower', sans-serif;
  font-size: 1.4rem;
  width: 100%;
  height: 40px;
  padding: 10px;
  outline: none;
  background: none;
  border: 2px solid #353535;
  color: #ddd;
  margin-top: 5px;
}

.form-input:focus {
  border: 2px solid #ddd;
}

.span-2 {
  grid-column: span 2;
}

.submit-btn {
  font-size: 1.4rem;
  padding: 20px 0;
  border: 2px solid #353535;
}

.card {
  width: 90%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
  color: #f2f2f2;
}

.card-title {
  font-size: 2.8rem;
  margin-bottom: 30px;
}

.card-title.cars {
  font-size: 6.2rem;
}

.card-info {
  font-family: 'Sunflower', sans-serif;
  width: 80%;
}

.snap {
  scroll-snap-type: y mandatory;
  min-width: auto;
  width: 100%;
  max-width: 560px;
  min-height: auto;
  height: 100%;
  max-height: 350px;
  overflow-y: scroll;
  border-radius: 5px;
}

/* width */
.snap::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.snap::-webkit-scrollbar-track {
  background: #353535;
}
/* Handle */
.snap::-webkit-scrollbar-thumb {
  background: #1b1b1b;
}
/* Handle on hover */
.snap::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.card-img {
  min-width: auto;
  width: 100%;
  max-width: 560px;
  border-radius: 5px;
  scroll-snap-align: center;
}

.register-btn {
  font-size: 1.4rem;
  padding: 8px 20px;
  margin: 30px 0;
}


@media only screen and (max-width: 1024px) {
  /* For tablets: */
  .modal-popup {
    grid-template-columns: 1fr;
  }
  .modal-title {
    padding: 30px 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  /* For mobiles: */
  nav {
    flex-direction: column;
    position: static;
    height: 200px;
    padding: 0 3% 30px 3%;
  }
  .nav-items {
    padding-top: 15px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .nav-item {
    margin: 0 15px;
    white-space: nowrap;
  }
  .nav-item:hover {
    padding-bottom: 0;
    border-bottom: none;
  }
  .hero-title {
    font-size: 2rem;
  }
  footer {
    height: auto;
    flex-direction: column;
  }
  .subscribe {
    padding: 10px 15px;
    margin: 0;
    margin-top: 40px;
  }
  footer h3 {
    margin: 30px 0;
  }
  .footer-icons {
    padding-bottom: 30px;
  }
  .footer-icon {
    margin: 15px;
  }
  .modal-title {
    padding: 30px 10px;
    font-size: 1.2rem;
  }
  .modal-title::before {
    top: 0;
    background-position: center;
  }
  .modal-close a img {
    width: 36px;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .card {
    grid-template-columns: 1fr;
  }
}