@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sunflower', sans-serif;
}

:root {
  --primary: #0f0f0f;
  --secondary: #F28200;
  --car1: 8s;
  --car2: 10s;
  --carWidth: 180px;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  background-color: var(--primary);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  z-index: 99;
  height: 100px;
  width: 100%;
  box-shadow: 2px 6px 5px 1px rgba(0,0,0,0.49);
  background: rgb(15,15,15);
  background: -moz-linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(15,15,15,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(15,15,15,0) 100%);
  background: linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(15,15,15,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0f0f",endColorstr="#0f0f0f",GradientType=1);
}

.nav-logo {
  width: 80px;
}

.nav-item {
  font-family: 'Quintessential', cursive;
  margin-left: 40px;
  font-size: 24px;
  color: #d4d4d4;
  transition: all .2s;
}

.nav-item:hover {
  color: #f2f2f2;
  padding-bottom: 8px;
  border-bottom: 4px solid var(--secondary);
}

.nav-item.active {
  color: var(--secondary);
}

.nav-item.active:hover {
  color: #F28200;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(15, 15, 15, .4);
}

.hero-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  padding: 40px 0;
}

.hero-title h1 {
  font-family: 'Quintessential', cursive;
}

.btn {
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  background: transparent;
  color: #f2f2f2;
  font-family: 'Sunflower Medium', sans-serif;
  transition: all .2s;
  border: 2px solid #ddd;
}

.btn:hover {
  color: var(--primary);
  background-color: #ddd;
}

.hero-btn {
  padding: 8px 28px;
  font-size: 1.5rem;
  margin-top: 20px;
}

footer {
  position: relative;
  padding: 0 5%;
  height: 100px;
  display: flex;
  align-items: center;
  background: rgb(15,15,15);
  background: -moz-linear-gradient(180deg, rgba(15,15,15,0) 0%, rgba(15,15,15,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(15,15,15,0) 0%, rgba(15,15,15,1) 100%);
  background: linear-gradient(180deg, rgba(15,15,15,0) 0%, rgba(15,15,15,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0f0f",endColorstr="#0f0f0f",GradientType=1);
  text-transform: uppercase;
}

.subscribe {
  padding: 10px 22px;
  border-radius: 2px;
  font-size: 1.2rem;
  background-color: #ddd;
  color: var(--primary);
  margin-right: 40px;
  transition: all .2s;
}

.btn:active, .subscribe:active {
  transform: translateY(2px);
}

.slideshow-container {
  width: 90%;
  height: 75vh;
  margin: 60px auto; 
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 30px;
}

.slideshow {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.slideshow img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.slideshow.down img {
  animation: 15s ease infinite DownSlideShow;
}
.slideshow.up img {
  animation: 15s ease infinite UpSlideShow;
}

@keyframes DownSlideShow {
  0% { transform: translateY(0); }
  25% { transform: translateY(-100%); }
  50% { transform: translateY(-200%); }
  75% { transform: translateY(-300%); }
  100% { transform: translateY(-400%); }
}

@keyframes UpSlideShow {
  0% { transform: translateY(-400%); }
  25% { transform: translateY(-300%); }
  50% { transform: translateY(-200%); }
  75% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

footer h3 {
  color: #ddd;
  font-size: .8rem;
  margin-right: 40px;
}

.footer-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-icon {
  cursor: pointer;
  width: 20px;
  filter: invert(98%) sepia(0%) saturate(4265%) hue-rotate(227deg) brightness(114%) contrast(73%);
  margin-right: 30px;
}

.footer-icon:hover {
  filter: invert(67%) sepia(91%) saturate(4632%) hue-rotate(12deg) brightness(103%) contrast(110%);
}

.modal {
  cursor: default;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, .9);
  display: none;
}

.modal:target {
  display: block;
}

.modal-popup {
  width: 80%;
  height: auto;
  margin: auto;
  background-color: #0f0f0f;
  box-shadow: 0 0 5em 20px rgb(198 210 239 / 30%), 0 0 5px 1px #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  color: #f2f2f2;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-secondary {
  color: var(--secondary);
}

.modal-title {
  border-top: 4px solid var(--secondary);
  padding: 30px 0 30px 25%;
  text-align: right;
  font-size: 2.4rem;
  text-transform: uppercase;
  position: relative;
}

.modal-title::before {
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  background-image: url('./img/logo.png');
  background-repeat: no-repeat;
  opacity: .1;
}

.modal-title h1 span {
  line-height: 20px;
}

.modal-data {
  padding: 30px 30px 30px 15px;
}

.modal-form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.modal-form label {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.modal-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-close a img {
  filter: invert(98%) sepia(0%) saturate(4265%) hue-rotate(227deg) brightness(114%) contrast(73%);
}

.form-input {
  font-size: 1.4rem;
  width: 100%;
  height: 40px;
  padding: 10px;
  outline: none;
  background: none;
  border: 2px solid #353535;
  color: #ddd;
  margin-top: 5px;
}

.form-input:focus {
  border: 2px solid #ddd;
}

.span-2 {
  grid-column: span 2;
}

.submit-btn {
  font-size: 1.4rem;
  padding: 20px 0;
  border: 2px solid #353535;
  margin-top: 20px;
}

.card {
  width: 90%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
  color: #f2f2f2;
}

.card-title {
  font-family: 'Quintessential', cursive;
  font-size: 2.8rem;
  margin-bottom: 30px;
}

.card-title.cars {
  font-size: 6.2rem;
}

.card-info {
  width: 80%;
}

.snap {
  scroll-snap-type: y mandatory;
  min-width: auto;
  width: 100%;
  max-width: 560px;
  min-height: auto;
  height: 100%;
  max-height: 350px;
  overflow-y: scroll;
  border-radius: 5px;
}

/* width */
.snap::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.snap::-webkit-scrollbar-track {
  background: #353535;
}
/* Handle */
.snap::-webkit-scrollbar-thumb {
  background: #1b1b1b;
}
/* Handle on hover */
.snap::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.card-img {
  min-width: auto;
  width: 100%;
  max-width: 560px;
  border-radius: 5px;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.register-btn {
  font-size: 1.4rem;
  padding: 8px 20px;
  margin: 30px 0;
}

.card-btn {
  display: block;
}

.search {
  display: flex;
  align-items: center;
  height: 60px;
  position: fixed;
  right: 0;
  top: 50%;
}

.search-icon {
  height: 100%;
  border: 2px solid #353535;
  border-right: none;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.search-icon img {
  width: 30px;
  filter: invert(98%) sepia(0%) saturate(4265%) hue-rotate(227deg) brightness(114%) contrast(73%);
}

.search-bar {
  width: 0;
  height: 60px;
  font-size: 1.3rem;
  outline: none;
  background: none;
  border: 1px solid #353535;
  color: #ddd;
  text-indent: 20px;
  transition: all .4s;
}

.search-bar:focus {
  border: 1px solid #4d4d4d;
}

.search:hover {
  background-color: #353535;
}
.search:hover .search-bar {
  width: 300px;
}

.stages {
  display: flex;
  flex-direction: column;
}

.stage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  text-transform: uppercase;
  padding: 48px 0;
  padding-left: 5%;
  color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: cover;
}

.stage:nth-child(1) {
  background-image: url('./img/register/bg1.jpg');
}
.stage:nth-child(2) {
  background-image: url('./img/register/bg2.jpg');
}
.stage:nth-child(3) {
  background-image: url('./img/register/bg3.jpg');
}

.stage-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage-title {
  font-size: 3.2rem;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.stage-date {
  padding-top: 5px;
  font-size: 1rem;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.country {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 10px;
}

.waving-flag {
  width: 60px;
}

.center-title {
  width: 90%;
  margin: 80px auto;
  text-align: center;
  text-transform: uppercase;
  color: #f2f2f2;
  font-size: 3.5rem;
  letter-spacing: .3rem;
  font-family: 'Homenaje', sans-serif;
}

.join-form {
  margin: 80px auto;
  width: 90%;
  background-color: #1b1b1b;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.join-left {
  padding: 40px 20px;
  background-color: #ddd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.join-left h3, .join-left p {
  padding: 5px 0;
}

.join-icon {
  border-radius: 50%;
  border: 4px solid var(--primary);
  height: 280px;
  width: 280px;
  margin-bottom: 20px;
}

.join-arrow {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #1b1b1b;
  padding-left: 2px;
  margin-top: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.join-right {
  color: #ddd;
  padding: 60px 45px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 40px;
  align-items: center;
}

.join-right label {
  font-size: 1.3rem;
}

.join-radio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.join-radio div {
  display: flex;
  align-items: center;
}

.join-radio label {
  margin-right: 22px;
}

.join-radio input[type="radio"] {
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
  appearance: none;
  -webkit-appearance: none;
  border: 0.2rem solid #fff;
  background-color: #bebebe;
  border-radius: 50%;
  transition: all .1s;
}

.join-radio input[type="radio"]:checked {
  box-shadow: 0 0 0 1px #d4d4d4;
  background-color: var(--primary);
  border-width: 0.2rem;
}

.join-radio input[type="radio"]:focus-visible {
  outline-offset: 0;
}

.form-input.dob {
  padding-right: 20px;
  color-scheme: dark;
}
.form-input.dob:invalid::-webkit-datetime-edit {
  color: #8a8a8a;
}

.join-btn-gp {
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
  grid-column: span 2;
}

.btn-clear {
  cursor: pointer;
  padding: 8px 30px;
  font-size: 1rem;
  margin-right: 30px;
  background: none;
  color: #8a8a8a;
  font-size: 1rem;
  border: 2px solid #8a8a8a;
  text-transform: uppercase;
}

.btn-clear:hover {
  border: 2px solid #8a8a8a;
  background-color: none;
}

.btn-reg {
  cursor: pointer;
  padding: 8px 30px;
  font-size: 1rem;
}

.contact-form {
  width: 90%;
  height: auto;
  margin: 100px auto;
  background-color: #0f0f0f;
  box-shadow: 0 0 5em 20px rgb(198 210 239 / 30%), 0 0 5px 1px #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  color: #f2f2f2;
}

.contact-data {
  padding: 45px 45px 45px 20px;
}

.form-input.textarea {
  height: auto;
  resize: none;
}

.submit-btn.send-msg {
  padding: 15px 0;
}

.form-checkbox {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.pointer {
  cursor: pointer;
}

.q-a {
  width: 90%;
  height: 100%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.box {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
}

.question {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile {
  display: flex;
  gap: 18px;
  align-items: center;
}

.profile-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--primary);
}

.profile-name {
  font-size: 1.6rem;
}

.question-title {
  color: #1b1b1b;
  font-size: 1.5rem;
}

.answer {
  font-size: 1.4rem;
  color: #1b1b1b;
}

.span-3 {
  grid-column: span 3;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-link {
  cursor: pointer;
  filter: invert(98%) sepia(0%) saturate(4265%) hue-rotate(227deg) brightness(114%) contrast(73%);
  width: 30px;
  height: 30px;
  margin: 20px 10px;
}

.p-item {
  height: 28px;
  width: 28px;
  background-color: #4d4d4d;
  color: #1b1b1b;
  border-radius: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-item.active {
  background-color: var(--secondary);
  color: var(--primary);
}

.sm-order-1 {
  order: unset;
}

.race-bg {
  margin: 50px 0;
  width: 100vw;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  overflow-x: hidden;
}

.dotted {
  border-bottom: 10px dashed #ddd;
  margin-bottom: 30px;
}

.car-container-1 {
  animation: var(--car1) ease-in infinite carMotion;
}
.car-container-2 {
  animation: var(--car2) ease-in-out infinite carMotion;
}

.race-car {
  width: var(--carWidth);
  transform: translateX(calc(var(--carWidth) * -1));
}
#car1 {
  animation: var(--car1) ease-in infinite car;
}
#car2 {
  animation: var(--car2) ease-in-out infinite car;
}

@keyframes carMotion {
  0%, 100% {
    transform: translateX(calc(var(--carWidth) * -1));
  }
  50% {
    transform: translateX(calc(100vw - var(--carWidth)));
  }
}

@keyframes car {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1);
  }
  51% {
    transform: scaleX(-1);
  }
  99% {
    transform: scaleX(-1);
  }
}

.youtubeVid {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.drivers {
  width: 75%;
  margin: 130px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  column-gap: 20px;
  row-gap: 80px;
}

.driver-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #f8f8f8;
  font-size: 1.3rem;
}

.driver-img {
  display: block;
  width: 100%;
  height: 360px;
}

.driver-img img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.driver-details {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.8rem;
  width: 100%;
  height: 360px;
  padding: 20px;
}

.driver-details.first {
  background-color: #990000;
}
.driver-details.second {
  background-color: #557153;
}
.driver-details.third {
  background-color: #7743DB;
}
.driver-details.fourth {
  background-color: #0E5E6F;
}
.driver-details.fifth {
  background-color: #42032C;
}
.driver-details.sixth {
  background-color: #E97777;
}

.driver-social {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.driver-social img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  filter: invert(98%) sepia(0%) saturate(4265%) hue-rotate(227deg) brightness(114%) contrast(73%);
}

.driver-social img:hover {
  filter: invert(67%) sepia(91%) saturate(4632%) hue-rotate(12deg) brightness(103%) contrast(110%);
}

.driver-card:hover .driver-img{
  display: none;
}
.driver-card:hover .driver-details {
  display: flex;
  transform: translateY(-30px);
}

@media only screen and (max-width: 1024px) {
  /* For tablets: */
  .slideshow {
    width: 90%;
  }
  .modal-popup, .contact-form {
    grid-template-columns: 1fr;
  }
  .modal-title {
    padding: 30px 20px;
    text-align: center;
  }
  .modal-data, .contact-data {
    padding: 30px 15px;
  }
  .card-title.cars {
    font-size: 5rem;
  }
  .snap {
    max-height: 265px;
  }
  .join-form {
    grid-template-columns: 1fr;
  }
  .join-right {
    padding: 40px;
  }
  .q-a { 
    grid-template-columns: 1fr 1fr;
  }
  .span-3 {
    grid-column: span 2;
  }
  .drivers {
    width: 90%;
  }
  .driver-details {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 767px) {
  /* For mobiles: */
  nav {
    flex-direction: column;
    position: static;
    height: 200px;
    padding: 0 3% 30px 3%;
  }
  .nav-items {
    padding-top: 15px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .nav-item {
    margin: 0 15px;
    white-space: nowrap;
  }
  .nav-item:hover {
    padding-bottom: 0;
    border-bottom: none;
  }
  .hero-title {
    font-size: 2rem;
  }
  footer {
    height: auto;
    flex-direction: column;
  }
  .subscribe {
    padding: 10px 15px;
    margin: 0;
    margin-top: 40px;
  }
  footer h3 {
    margin: 30px 0;
  }
  .footer-icons {
    padding-bottom: 30px;
  }
  .footer-icon {
    margin: 15px;
  }
  .modal-title {
    padding: 30px 10px;
    font-size: 1.2rem;
  }
  .modal-title::before {
    top: 0;
    background-position: center;
  }
  .modal-close a img {
    width: 36px;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .card {
    grid-template-columns: 1fr;
  }
  .card-title.cars {
    font-size: 4rem;
  }
  .snap {
    max-height: 240px;
  }
  .sm-order-1 {
    order: -1;
  }
  .slideshow-container {
    height: 120vh;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 60px;
  }
  .slideshow {
    width: 100%;
  }
  .card-btn {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  .search {
    height: 50px;
  }
  .search-bar {
    height: 50px;
  }
  .search:hover .search-bar {
    width: 200px;
  }
  .stage {
    padding: 30px 0;
    grid-template-columns: 1fr;
    gap: 22px;
  }
  .join-left {
    width: 100%;
    padding: 25px 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    text-align: center;
  }
  .join-icon {
    height: 200px;
    width: 200px;
  }
  .join-arrow {
    height: 40px;
    width: 40px;
    transform: rotate(90deg);
  }
  .join-right {
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: flex-start;
  }
  .join-right label {
    padding-top: 30px;
  }
  .join-radio label {
    padding: 0;
  }
  .join-btn-gp {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .btn-clear {
    margin: 30px 0;
  }
  .q-a { 
    grid-template-columns: 1fr;
  }
  .span-3 {
    grid-column: span 1;
  }
  .center-title {
    font-size: 2.5rem;
  }
  :root {
    --car1: 4s;
    --car2: 5s;
    --carWidth: 120px;
  }
  .drivers {
    grid-template-columns: 1fr;
  }
  .driver-img {
    height: 280px;
  }
  .driver-img img {
    height: 280px;
  }
  .driver-details {
    text-align: center;
    height: 280px;
  }
}